<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/main-content.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/youtube-icon-ico.png">
    <title>YouTube Clone | Home</title>
</head>
<body>
    <!--HeaderVideos------------------------------------------------------------------------------------------------------->
    <header>
        <div class="header">
            <div class="left-section">
                <img class="hamburger-menu-icon" src="../img/icons/header/hamburger-menu-icon.svg" alt="hamburger-menu-icon">
                <a href="https://www.youtube.com/" title="YouTube's Home Page">
                    <img class="youtube-logo" src="../img/youtube-logo.svg" alt="youtube-logo">
                </a>
            </div>

            <div class="middle-section">
                <input type="text" placeholder="Search">
                <button class="search-button">
                    <img class="search-icon" src="../img/icons/header/search-icon.svg" alt="search-icon">
                    <div class="tooltip">Search</div>
                </button>
                <button class="voice-search-button">
                    <img class="voice-search-icon" src="../img/icons/header/voice-search-icon.svg" alt="voice-search-icon">
                    <div class="tooltip">Search with your voice</div>
                </button>
            </div>

            <div class="right-section">
                <div class="container upload-icon-container">
                    <img class="upload-icon" src="../img/icons/header/upload-icon.svg" alt="upload-icon">
                    <div class="tooltip">Create</div>
                </div>
                <div class="container youtube-apps-icon-container">
                    <img class="youtube-app-icon" src="../img/icons/header/youtube-apps-icon.svg" alt="youtube-apps-icon">
                    <div class="tooltip">YouTube Apps</div>
                </div>
                <div class="container">
                    <div class="notifications-icon-container">
                        <img class="notifications-icon" src="../img/icons/header/notifications-icon.svg" alt="notifications-icon">
                        <div class="notification-number">3</div>    
                    </div>
                    <div class="tooltip">Notifications</div>
                </div>
                <div class="profile-pic-container">
                    <img class="profile-pic" src="../img/profile-pic.jpg" alt="profile-pic">
                </div>
            </div>
        </div>
    </header>    
    <!--Sidebar----------------------------------------------------------------------------------------------------------->
    <aside>
        <div class="sidebar">
            <div class="sidebar-link">
                <img src="../img/icons/side-bar/home-icon.svg" alt="home-icon" title="Home">
                <div>Home</div>
            </div>
            <div class="sidebar-link">
                <img src="../img/icons/side-bar/explore-icon.svg" alt="explore-icon" title="Explore">
                <div>Explore</div>
            </div>
            <div class="sidebar-link">
                <img src="../img/icons/side-bar/subscriptions-icon.svg" alt="subscriptions-icon" title="Subscriptions">
                <div>Subscriptions</div>
            </div>
            <div class="sidebar-link">
                <img src="../img/icons/side-bar/originals-icon.svg" alt="originals-icon" title="Originals">
                <div>Originals</div>
            </div>
            <div class="sidebar-link">
                <img src="../img/icons/side-bar/youtube-music-icon.svg" alt=youtube-music-icon" title="YouTube Music">
                <div>YouTube Music</div>
            </div>
            <div class="sidebar-link">
                <img src="../img/icons/side-bar/library-icon.svg" alt="library-icon" title="Library">
                <div>Library</div>
            </div>
        </div>
    </aside>    
    <!--Main Content------------------------------------------------------------------------------------------------------>
    <main>
        <div class="main-content-grid">
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture"  src="../img/porcupine-tree.jpg" alt="video-prev-picture">
                        <div class="video-time">51:09</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/porcupine-tree-official.jpg" alt="channel-picture" title="Porcupine Tree &#9834">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="Deadwing | Porcupine Tree | Full Album (2005)">Deadwing | Porcupine Tree | Full Album (2005)</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">Porcupine Tree &#9834</div>
                                    <div class="channel-name-tooltip">Porcupine Tree &#9834</div>
                                </div>
                                <div class="video-stats">1.6M views &#183; 7 years ago</div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/maradona_vs_england.jpg" alt="video-prev-picture">
                        <div class="video-time">1:23</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/ball.jpeg" alt="channel-picture" title="Football History">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="The Best Goal Of The World's Cup History">The Best Goal Of The World's Cup History</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">Football History</div>
                                    <div class="channel-name-tooltip">Football History</div>
                                </div>    
                                <div class="video-stats">3.1M views &#183; 5 months ago</div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/maiden.jpg" alt="video-prev-picture">
                        <div class="video-time">37:39</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/eddie.jpg" alt="channel-picture" title="Classic Rock">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="Iron Maiden | Iron Maiden (Full Album) 1980">Iron Maiden | Iron Maiden (Full Album) 1980</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">Classic Rock</div>
                                    <div class="channel-name-tooltip">Classic Rock</div>
                                </div>    
                                <div class="video-stats">7.3M views &#183; 5 months ago</div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/btc-chart.jpg" alt="video-prev-picture">
                        <div class="video-time">12:05</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/btc.png" alt="channel-picture" title="Bitcoin Today">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="Today's Bitcoin Technical Analysis">Today's Bitcoin Technical Analysis</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">Bitcoin Today</div>
                                    <div class="channel-name-tooltip">Bitcoin Today</div>
                                </div>    
                                <div class="video-stats">1.7K views &#183; 3 hours ago</div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/freecodecamp.jpeg" alt="video-prev-picture">
                        <div class="video-time">15:35:11</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/freCC.jpg" alt="channel-picture" title="FreeCodeCamp &check;">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="Python | Course From Scratch">Python | Course From Scratch</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">FreeCodeCamp &check;</div>
                                    <div class="channel-name-tooltip">FreeCodeCamp &check;</div>
                                </div>    
                                <div class="video-stats">11.1M views &#183; 1 day ago</div>
                            </div>    
                        </div>
                    </div>    
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/dark-side.jpeg" alt="video-prev-picture">
                        <div class="video-time">42:56</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/animals.jpg" alt="channel-picture" title="Pink Floyd &#9834">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="Pink Floyd - The Dark Side Of The Moon">Pink Floyd - The Dark Side Of The Moon</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">Pink Floyd &#9834;</div>
                                    <div class="channel-name-tooltip">Pink Floyd &#9834</div>
                                </div>    
                                <div class="video-stats">10M views &#183; 4 years ago</div>
                            </div>    
                        </div>
                    </div>    
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/mysql.jpg" alt="video-prev-picture">
                        <div class="video-time">3:00:00</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/mosh.jpg" alt="channel-picture" title="ProgrammingWithMosh">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="MySQL In 3 Hours">MySQL In 3 Hours</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">ProgrammingWithMosh</div>
                                    <div class="channel-name-tooltip">ProgrammingWithMosh</div>
                                </div>    
                                <div class="video-stats">10.4M views &#183; 2 years ago</div>
                            </div>    
                        </div>
                    </div>    
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/javascript.avif" alt="video-prev-picture">
                        <div class="video-time">13:15:57</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/traversy.jpg" alt="channel-picture" title="Traversy">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="Javascript | Full Course">Javascript | Full Course</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">Traversy</div>
                                    <div class="channel-name-tooltip">Traversy</div>
                                </div>    
                                <div class="video-stats">900K views &#183; 1 years ago</div>
                            </div>    
                        </div>
                    </div>    
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/drummer.jpg" alt="video-prev-picture">
                        <div class="video-time">6:12</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/elEstepareo.jpg" alt="channel-picture" title="ElEsteparioSiberiano">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="My Daily Warm Up Drumming Routine">My Daily Warm Up Drumming Routine</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">ElEsteparioSiberiano;</div>
                                    <div class="channel-name-tooltip">ElEsteparioSiberiano</div>
                                </div>    
                                <div class="video-stats">42K views &#183; 1 month ago</div>
                            </div>    
                        </div>
                    </div>    
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/dinho.jpg" alt="video-prev-picture">
                        <div class="video-time">10:10</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/tnt.jpg" alt="channel-picture" title="TNTSports">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="TNT Sports - Ronaldinho Top Skills">TNT Sports - Ronaldinho Top Skills</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">TNTSports</div>
                                    <div class="channel-name-tooltip">TNTSports</div>
                                </div>    
                                <div class="video-stats">500K views &#183; 7 month ago</div>
                            </div>    
                        </div>
                    </div>    
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/zeppelin.jpg" alt="video-prev-picture">
                        <div class="video-time">6:12</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/brija.jpg" alt="channel-picture" title="Zeppelin">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="Led Zeppelin - MotherShip - Full Album">Led Zeppelin - MotherShip - Full Album</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">Zeppelin</div>
                                    <div class="channel-name-tooltip">Zeppelin</div>
                                </div>    
                                <div class="video-stats">42K views &#183; 1 month ago</div>
                            </div>    
                        </div>
                    </div>    
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/simspsons.webp" alt="video-prev-picture">
                        <div class="video-time">18:14</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/fox.webp" alt="channel-picture" title="Fox">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="The Simpsons">The Simpsons</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">Fox</div>
                                    <div class="channel-name-tooltip">Fox</div>
                                </div>    
                                <div class="video-stats">37K views &#183; 9 month ago</div>
                            </div>    
                        </div>
                    </div>    
                </div>
            </div>
        </div>    
        <!--Shorts------------------------------------------------------------------------------------------------------->
        <div class="shorts-title">
            <img src="../img/icons/youtube-shorts-icon.png" alt="youtube-short-icon" class="youtube-short-icon">
            <h2>Shorts</h2>        
        </div>
        <div class="shorts-section">
            <div class="shorts-cards">
                <div>
                    <img class="short-image" src="../img/html.png" alt="html-short">
                </div>
                <div class="short-title"> 3 HTML Tips</div>
                <div class="short-stats">22K views</div>
            </div>
            <div class="shorts-cards">
                <div>
                    <img class="short-image" src="../img/messi-control.jpg" alt="messi-control">
                </div>
                <div class="short-title"> Messi Perfect Ball Control</div>
                <div class="short-stats">1M views</div>
            </div>
            <div class="shorts-cards">
                <div>
                    <img class="short-image" src="../img/btc-historical.png" alt="btc-historical.png">
                </div>
                <div class="short-title">Historical Price Of Bitcoin</div>
                <div class="short-stats">1.4K views</div>
            </div>    
            <div class="shorts-cards">
                <div>
                    <img class="short-image" src="../img/hetfield.webp" alt="hetfield">
                </div>
                <div class="short-title">James Hetfield Playing Fuel Intro</div>
                <div class="short-stats">17.8K views</div>
            </div>    
            <div class="shorts-cards">
                <div>
                    <img class="short-image" src="../img/python-skills.png" alt="python-skills">
                </div>
                <div class="short-title">Python Skills You Must Know</div>
                <div class="short-stats">3.7K views</div>
            </div>    
        </div>
<hr>
    <!--Videos 2------------------------------------------------------------------------------------------------->
        <div class="videos-title">
            <img src="../img/icons/youtube-triangle-logo.webp" alt="youtube-video-icon" class="youtube-video-icon">
            <h2>Videos</h2>        
        </div>
        <div class="main-content-grid">
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture"  src="../img/nasdaq.jpg" alt="video-prev-picture">
                        <div class="video-time">5:55</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/usd.jpg" alt="channel-picture" title="NASDAQ Price Action vs SP500">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="NASDAQ Price Action vs SP500">NASDAQ Price Action vs SP500</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">The Chartist</div>
                                    <div class="channel-name-tooltip">The Chartist</div>
                                </div>
                                <div class="video-stats">1.8K views &#183; 1 day ago</div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/roman.webp" alt="video-prev-picture">
                        <div class="video-time">1:23</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/ball.jpeg" alt="channel-picture" title="Boca Juniors Channel">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="Juan Román Riquelme Celebrating">Juan Román Riquelme Celebrating</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">Boca Juniors Channel</div>
                                    <div class="channel-name-tooltip">Boca Juniors Channel</div>
                                </div>    
                                <div class="video-stats">28.9K views &#183; 5 years ago</div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/sp500.jpg" alt="video-prev-picture">
                        <div class="video-time">10:23</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/bull.jpg" alt="channel-picture" title="Bull Market">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="When the Bull Market starts for SP500?">When the Bull Market starts for SP500?</div>
                                <div class="channel-name-container">
                                    <div class="channel-name"Bull Market></div>
                                    <div class="channel-name-tooltip"Bull Market></div>
                                </div>    
                                <div class="video-stats">7.3M views &#183; 2 days ago</div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="youtube-video-card">
                <div class="video-card-row">
                    <div class="pre-picture-video">
                        <img class="video-prev-picture" src="../img/DRIVE-TUTORIAL.jpeg" alt="video-prev-picture">
                        <div class="video-time">08:15:41</div>
                    </div>
                    <div>
                        <div class="video-card-column">
                            <div>
                                <img class="channel-picture" src="../img/freCC.jpg" alt="channel-picture" title="FreeCodeCamp">
                            </div>
                            <div class="video-text-info">
                                <div class="video-title" title="Today's Bitcoin Technical Analysis">Today's Bitcoin Technical Analysis</div>
                                <div class="channel-name-container">
                                    <div class="channel-name">FreeCodeCamp</div>
                                    <div class="channel-name-tooltip">FreeCodeCamp</div>
                                </div>    
                                <div class="video-stats">4M views &#183; 4 years ago</div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="space"></div>
    <!--Footer------------------------------------------------------------------------------------------------------------>
    <footer>
        <div class="footers">
            <div class="principal-footer">
                <div class="footer-column-1">
                    <div>
                        <a href="https://www.youtube.com">
                            <img class="youtube-logo-from-footer" src="../img/youtube-logo.svg" alt="youtube-logo">
                        </a>
                    </div>
                    <div class="footer-description">
                        There are many variations of users of YouTube available.
                    </div>
                    <div class="directions">
                        <div class="contact1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            <p><span class="call-us">Call Us: &nbsp;</span><span class="direction">011-26242628</span></p>
                        </div>
                        <div class="contact2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-arrow-up-fill" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558zm.192 8.159 6.57-4.027L8 9.586l1.239-.757.367.225A4.49 4.49 0 0 0 8 12.5c0 .526.09 1.03.256 1.5H2a2 2 0 0 1-1.808-1.144ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207z"/>
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.354 1.25 1.25a.5.5 0 0 1-.708.708L13 12.207V14a.5.5 0 0 1-1 0v-1.717l-.28.305a.5.5 0 0 1-.737-.676l1.149-1.25a.5.5 0 0 1 .722-.016Z"/>
                            </svg>
                            <p><span class="direction">support@youtube.com</span></p>
                        </div>
                    </div>
                </div>
                <div class="footer-column-2">
                    <h3>Popular Categories</h3>
                    <p>Wordpress Theme</p>
                    <p>Bootstraps Template</p>
                    <p>ReactJS Template</p>
                    <p>Dashboard Theme</p>
                    <p>HTML5 Template</p>
                </div>
                <div class="footer-column-3">
                    <h3>Our Company</h3>
                    <p>About Us</p>
                    <p>How It Works</p>
                    <p>Affiliates</p>
                    <p>Testimonials</p>
                    <p>Contact Us</p>
                    <p>Plan & Pricing</p>
                    <p>Blog</p>
                </div>
                <div class="footer-column-4">
                    <h3>Help Support</h3>
                    <p>Support Forum</p>
                    <p>Terms & Conditions</p>
                    <p>Support Policy</p>
                    <p>FAQs</p>
                </div>
            </div>
            <div class="last-footer">
                <p>&#169; 2023 <span class="paint-red"><a href="https://www.youtube.com">YouTubeClone</a></span>. All rights reserved. Created by <span class=name-red>Ignacio Agustin González</span>.</p>
            </div>        
        </div>
    </footer>
</body>
</html>